<%= form_with(model: tweet) do |form| %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <p>写真は3マイまで</p>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :publicity %>
    <%= form.select :publicity, [1,2,3] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
