<p>
  <%= link_to 'profile page', user_path(current_user) %>
</p>

<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Tweet一覧</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.content %></td>
        <td><%= link_to '[詳細]', tweet %></td>       
        <td> <%= tweet.tweet_likes.count %></td> 
        <td>
          <% if tweet.liked_by?(current_user) %>
            <%= link_to tweet_like_path(tweet), method: :delete do %>
                <button> unlike </button>
            <% end %>
          <% else %>
            <%= link_to tweet_like_path(tweet), method: :post do %>
                <button> like </button>
            <% end %>
          <% end %>
        </td>
        <% if current_user.id == tweet.user_id  %>
          <td><%= link_to '[編集]', edit_tweet_path(tweet) %></td>
          <td><%= link_to '[x]',
            tweet,
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>
        <td>
          <% if tweet.images.attached? %>
            <% tweet.images.each do |image| %>
              <%= image_tag image %> <br>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新規Tweet作成', new_tweet_path %>
