<p>
  <strong>Tweet:</strong>
</p>
<p>
  <%= @tweet.content %>
</p>

<p>
  <% if @tweet.images.attached? %>
    <% @tweet.images.each do |image| %>
      <%= image_tag image %> <br>
    <% end %>
  <% end %>
</p>



<h4>Comments</h4>

<% if @tweet.comments.any? %>
  <table>
    <tbody>
      <% @tweet.comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>

      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>
<br>


<%= render 'comments/form', model: [@tweet, @tweet.comments.build] %>



<p>
  <%= link_to '戻る', tweets_path %>
</p>
