<%= link_to '戻る', tweets_path %>

<h3>Profile page</h3>

<table>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td>
        <% if current_user.id != @user.id  %>
          <% if @following_or_not %>
            <%= link_to user_relationship_path(@user), method: :delete do %>
                <button> unfollow </button>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(@user), method: :post do %>
                <button> follow </button>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Tweet一覧</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.content %></td>
        <td><%= link_to '[詳細]', tweet %></td>
        <% if current_user.id == tweet.user_id  %>
          <td><%= link_to '[編集]', edit_tweet_path(tweet) %></td>
          <td><%= link_to '[x]',
            tweet,
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>
        <td>
          <% if tweet.images.attached? %>
            <% tweet.images.each do |image| %>
              <%= image_tag image %> <br>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>